footer {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-section h1,
.footer-section ul {
  list-style: none;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #fff;
}
